<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro Geral</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="../static/script/index.js"></script>
</head>
<body>




    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div id="container-alertas">
      {% for category, message in messages %}
        <div class="alerta {{ category }}">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

            




    <div class="conteinerInf">
    <div class="conteudo-inf">
        <img src="../static/imagem/image1.jpg" alt="Logo Vagas Conecta" class="image-inf">
                <img src="../static/imagem/logo.png" alt="Logo Vagas Conecta" class="logo">
        <p>Conecte-se à sua próxima grande oportunidade no  Conecta.</p>


    </div>
</div>
   





<!--============================================================================================-->
        <!-- containerAcesso-->
<!--============================================================================================-->
        <div class="containerAcesso"> 
        
    <!--=========================================================================================-->
        <!-- escolhaInicial-->    
    <!--=========================================================================================-->
        <div id="escolhaInicial" class="btn-main-group">
            <button class="btn-main" onclick="mudar('login')">Fazer Login</button>
            <button class="btn-main" onclick="mudar('cadastro')">Criar Conta</button>
        </div>
        <!-- fim do escolhaInicial--> 


    <!--============================================================================================-->
        <!-- secaoLogin inicio-->
    <!--============================================================================================-->
        <div id="secaoLogin" class="containerLogin">
            <h2>Faça seu login:</h2>
            <form action="/home" method="POST">
                <input type="email" name="email" placeholder="E-mail" required><br>
                <input type="password" name="senha" placeholder="Senha" required><br>
                
                <button type="submit" class="btn-entrar">Entrar</button>
            </form>
            <div class="opcoes-login"> <!--terminar de  fazer ainda ================================================-->
                <p class="ou">ou</p>
                    <button class="btn-google" onclick="window.location.href='/google-login'">G Entrar com Google</button>
           

                <button class="btn-linkedin">in Entrar com LinkedIn</button>
   
                <a href="#" class="esqueci-senha">Esqueci minha senha</a>
            </div>
        </div>
        <!-- secaoLogin fim-->



        <!-- secaoCadastro inicio-->
        <div id="secaoCadastro" class="conteinerCadastro hidden">
            <h2>Selecione o tipo de cadastro:</h2>
            
            <div class="btn-group">
                <button class="toggle-btn" onclick="formCad('formFuncionario')">Funcionário</button>
                
                <button class="toggle-btn" onclick="formCad('formEmpresa')">Empresa</button>
                
            </div>

            

            <div id="formFuncionario" class="form-container active"> 
                
                <form action="/cadastro" method="POST">
                    <input type="text" name="nome" placeholder="Nome" required><br>
                    <input type="email" name="email" placeholder="E-mail" required><br>
                    <input type="password" name="senha" placeholder="Senha" required><br>
                    <input type="text" name="cpf" placeholder="CPF" required><br>
                    <input type="tel" name="telefone" placeholder="Telefone"><br>

                    <button type="submit" class="btn-entrar">Cadastrar</button>
                </form>
            </div>

            <div id="formEmpresa" class="form-container">
                
                <form action="/cadastros"  method="POST">
                    <input type="text" name="nome" placeholder="Nome da Empresa" required><br>
                    <input type="text" name="cnpj" placeholder="CNPJ" required><br>
                    <input type="text" name="endereco" placeholder="Endereço"><br>
                    <input type="email" name="email" placeholder="E-mail Corporativo"><br>
                    <input type="password" name="senha" placeholder="Senha" required><br>
                    <input type="tel" name="telefone" placeholder="Telefone"><br>
                    <button type="submit" class="btn-entrar">Cadastrar</button>
                </form>
            </div>
        </div> <!--secao cadastro fim-->

    </div><!-- fim do containerAcesso-->



   
</body>
</html>